<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/Baldes.app</string>
		<key>Architectures</key>
		<array>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>marreco.Baldes</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleVersion</key>
		<string>3</string>
		<key>SigningIdentity</key>
		<string>Apple Development: mateus.costa464@gmail.com (Y6L36BK44M)</string>
		<key>Team</key>
		<string>SC8X3XN7R6</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2026-02-02T12:56:01Z</date>
	<key>Name</key>
	<string>Baldes</string>
	<key>SchemeName</key>
	<string>Baldes</string>
</dict>
</plist>
